/** ----------------------------------------------------------------------------
 * @desc      Main Styles
 * @author    Avin Zheng
 * @copyright MIT License
 ** --------------------------------------------------------------------------*/
/**
 * Basic Layout
 */
#main-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  min-width: 320px;
  padding: 32px 32px 0 336px;
  width: 88%;
}

#main {
  width: 100%;
}

#sidebar {
  left: -304px;
  margin-left: -100%;
  position: relative;
  width: 280px;
}

/**
 * partials/posts-list.hbs
 */
#posts-list .post-excerpt {
  -webkit-box-orient: vertical; /* Non-standard */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 3 lines */
  margin: 16px 0;
  overflow: hidden;
  word-break: break-all;
}

#posts-list a.read-more {
  background: var(--standard-color);
  color: #FFFFFF;
  display: inline-block;
  padding: 4px 16px;
  text-transform: uppercase;
}

#posts-list a.read-more:hover {
  background: var(--light-color);
}

/**
 * partials/post-none.hbs
 */
#post-none {
  height: 250px;
}

/**
 * partials/post-comments.hbs
 */
#post-comments {
}

/**
 * partials/post-related.hbs
 * partials/post-latest.hbs
 */
#post-related > ul {
  border-top: 1px dotted #BDC3C7;
  margin-bottom: 8px;
  position: relative;
}

#post-related > ul > li {
  border-bottom: 1px dotted #BDC3C7;
  line-height: 2.8;
  position: relative;
  text-align: right;
  vertical-align: middle;
}

#post-related > ul > li > a {
  color: #2C3E50;
  left: 0;
  max-width: calc(100% - 100px);
  overflow: hidden;
  position: absolute;
  text-align: left;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  word-break: break-all;
}

#post-related > ul > li > a:hover {
  color: var(--light-color);
}

#post-related > ul > li > span {
  color: #95A5A6;
  font-size: 14px;
}

/**
 * partials/post-prev-next.hbs
 */
#post-prev-next {
  display: table;
  padding: 32px 24px;
  width: 100%;
}

#post-prev-next > .link {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

#post-prev-next > .next {
  padding: 0 8px 0 40px;
}

#post-prev-next > .next > .arrow-left {
  content: "";
  left: 0;
  margin-top: -16px;
  position: absolute;
  top: 50%;
}

#post-prev-next > .prev {
  padding: 0 40px 0 8px;
  text-align: right;
}

#post-prev-next > .prev > .arrow-right {
  content: "";
  margin-top: -16px;
  position: absolute;
  right: 0;
  top: 50%;
}

#post-prev-next > .link > a {
  -webkit-box-orient: vertical; /* Non-standard */
  color: #2C3E50;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 2 lines */
  line-height: 1.5;
  overflow: hidden;
}

#post-prev-next > .link > a:hover {
  color: var(--light-color);
}

/**
 * partials/pagination.hbs
 */
#pagination {
  font-size: 0;
  line-height: 0;
  margin-bottom: 24px;
  text-align: right;
}

#pagination > a {
  background: var(--standard-color);
  color: #FFFFFF;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 8px 16px;
  text-transform: uppercase;
}

#pagination > a:hover {
  background: var(--light-color);
}

#pagination > span.pages,
#pagination > a.next {
  margin-left: 18px;
}

#pagination > span.pages {
  border: 1px solid #95A5A6;
  color: #95A5A6;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  padding: 7px 14px;
}

/**
 * partials/footer.hbs
 */
#footer {
  align-items: center;
  color: #95A5A6;
  display: flex;
  flex-flow: row nowrap;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 12px;
}

#footer a {
  color: #95A5A6;
  text-decoration: underline;
}

#footer a:hover {
  color: #BDC3C7;
}

/**
 * post.hubs
 * page.hbs
 */
#post-content {
  padding-bottom: 24px;
}

#post-content > .post-header {
  margin-bottom: 24px;
}

#post-content > .post-header > figure {
  margin: -40px -32px 36px;
}

#post-content > .post-header > figure > img {
  display: block;
  width: 100%;
}

#post-content > .post-header > .post-title {
  margin-bottom: 16px;
}

#post-content > .post-header > .post-title > .featured-icon,
#post-content > .post-header > .post-title > h1 {
  display: inline;
  font-size: 2em;
  line-height: 1.5;
  word-break: break-all;
}

#content {
  word-break: break-all;
}

.kg-width-wide img,
.kg-width-full img {
  margin: 0 auto;
  max-width: 100%;
}

.kg-gallery-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.kg-gallery-row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.kg-gallery-row:not(:first-of-type) {
  margin-top: 16px;
}

.kg-gallery-image:not(:first-of-type) {
  margin-left: 16px;
}

.kg-gallery-image img {
  height: 100%;
  width: 100%;
}

.kg-bookmark-card {
  position: relative;
  width: 100%;
}

.kg-bookmark-container {
  background-color: #ECF0F1;
  border: 1px solid #BDC3C7;
  color: currentColor;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  font-family: inherit;
  padding: 24px;
  text-decoration: none;
}

a.kg-bookmark-container:hover {
  border-color: var(--standard-color);
}

.kg-bookmark-content {
  flex-basis: 0;
  flex-grow: 999;
  order: 1;
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kg-bookmark-description {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

img.kg-bookmark-icon {
  display: inline-block;
  height: 1em;
  margin: 0;
  vertical-align: middle;
  width: 1em;
}

.kg-bookmark-publisher {
  vertical-align: middle;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 .5em;
}

.kg-bookmark-thumbnail {
  align-items: center;
  display: flex;
  flex-basis: 24rem;
  flex-grow: 1;
  justify-content: center;
}

.kg-bookmark-thumbnail img {
  background-color: #2C3E50;
  display: block;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.kg-bookmark-author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fluid-width-video-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/**
 * Prism Styles
 */
.line-numbers div.code-toolbar {
  margin: 15px 0;
  padding: 24px 0 0 0;
}

.line-numbers div.code-toolbar > pre.line-numbers {
  background-color: #ECF0F1;
  margin: 0;
}

.line-numbers div.code-toolbar > pre.line-numbers > code {
  color: #2C3E50;
  text-shadow: none;
}

.line-numbers div.code-toolbar > .toolbar {
  background-color: #BDC3C7;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  opacity: 1;
  right: 0;
  top: 0;
  transition: none;
  width: 100%;
}

.line-numbers div.code-toolbar > .toolbar span {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  color: #7F8C8D;
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
}

.line-numbers div.code-toolbar > .toolbar a,
.line-numbers div.code-toolbar > .toolbar button {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  color: #ECF0F1;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 24px;
  padding: 0 10px;
}

.line-numbers div.code-toolbar > .toolbar a:hover,
.line-numbers div.code-toolbar > .toolbar a:focus,
.line-numbers div.code-toolbar > .toolbar button:hover,
.line-numbers div.code-toolbar > .toolbar button:focus {
  border: none;
  color: #FFFFFF;
  text-decoration: none;
}

/**
 * author.hbs
 * tag.hbs
 */
#author,
#tag {
  background-position: center;
  background-size: cover;
  padding: 40px 32px 40px 184px;
}

#author.text-white,
#tag.text-white {
  color: #FFFFFF;
}

#author > img.avatar,
#tag > img.avatar {
  background-color: #ECF0F1;
  border-radius: 50%;
  display: block;
  height: 128px;
  left: -152px;
  margin-left: -100%;
  position: relative;
  width: 128px;
}

#author > .info,
#tag > .info {
  width: 100%;
}

#author > .info > h1,
#tag > .info > h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#author > .info > .meta,
#tag > .info > .total {
  color: #95A5A6;
  text-transform: uppercase;
}

#author.text-white > .info > .meta,
#tag.text-white > .info > .total {
  color: #ECF0F1;
}

#author > .info > .meta > small:not(:first-of-type) {
  margin-left: 8px;
}

#author > .info > .meta > small:not(:first-of-type)::before {
  color: #95A5A6;
  content: "·";
  font-weight: 600;
  margin-right: 8px;
}

#author.text-white > .info > .meta > small:not(:first-of-type)::before {
  color: #BDC3C7;
}

#author > .info > ul.links {
  padding: 6px 0;
  font-size: 0;
}

#author > .info > ul.links > li {
  display: inline-block;
  margin-right: 6px;
}

#author > .info > ul.links > li:last-child {
  margin-right: 0;
}

#author > .info > ul.links a {
  display: block;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: #34495E;
  overflow: hidden;
}

.widget-blog-follow > ul.social a:hover {
  background-color: var(--light-color);
}

#author > .info > ul.links a:hover {
  background-color: var(--light-color);
}

#author > .info > .bio,
#tag > .info > .des {
  color: #95A5A6;
  line-height: 1.5;
  word-break: break-all;
}

#author.text-white > .info > .bio,
#tag.text-white > .info > .des {
  color: #ECF0F1;
}
